@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "IBM Plex Mono";
}

.text-gradient {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5) 6.44%,
    #ffffff 95.08%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
